{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="row" style="margin-top: 5em">
      <h1>Welcome to The Archive Sub</h1>
    </div>
    <div class="row">
      <h4>Archived communities on this server</h4>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Subreddit</th>
            <th>Submissions</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          {% for subreddit in subreddits %}
          <tr>
            <td>
              <a href="/r/{{ subreddit.name }}">{{ subreddit.name }}</a>
            </td>
            <td>
              {{ subreddit.submissions }}
            </td>
            <td>
              {{ subreddit.comments }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}